<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>大事件-列表页</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/jquery.pagination.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!-- 引入bootstrap -->
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <script src="./js/jquery-1.12.4.min.js"></script>
    <!-- 引入分页插件 -->
    <script src="./js/jquery.twbsPagination.js"></script>
</head>

<body>
    <div class="header">
        <a href="#" class="logo fl"><img src="images/logo.png" alt="logo"></a>
        <div class="search_form fl">
            <input type="text" class="search_txt" placeholder="黑洞照片">
            <button class="search_btn"><i class="fa fa-search"></i></button>
        </div>
        <div class="link_info fr">
            <a href="#"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;网站地图</a><br>
            <a href="#"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;招聘信息</a>
        </div>
    </div>

    <div class="menu_con">
        <div class="menu">
            <div class="menu_collapse fl">
                <a href="javascript:;" class="level_one"><i class="fa fa-list-ul"></i>全部分类</a>
                <ul class="level_two" id="select">
                    <li class="up"></li>
                    <!--  -->
                </ul>
            </div>
            <ul class="left_menu fl" id="cate">
                <!--  -->
            </ul>
            <ul class="right_menu fr">
                <li><a href="#">科技专题</a></li>
                <li><a href="#">财经专题</a></li>
            </ul>
        </div>
    </div>

    <div class="main_con clearfix">
        <div class="left_con setfr">
            <div class="list_title">
                <h3 id="cateName">科 技</h3>
            </div>
            <div id="list">
                分类详情

            </div>

            <!-- 只需要放一个ul容器，插件本身会生成li 分页-->
            <ul id="pagination-demo" class="pagination-sm"></ul>



        </div>
        <div class="right_con setfl">
            <div class="common_wrap">
                <h3><i class="fa fa-bar-chart"></i> 一周热门排行</h3>
                <ul class="content_list" id="rank">
                    热门排行
                </ul>
            </div>
            <div class="common_wrap">
                <h3><i class="fa fa-commenting-o"></i> 最新评论</h3>
                <ul class="content_list comment_list">
                    <li>
                        <span>山</span>
                        <b><em>山治</em> 9个月前(08-14)说:</b>
                        <strong>挺会玩的</strong>
                    </li>
                    <li>
                        <span>丽</span>
                        <b><em>丽丽</em> 9个月前(08-14)说:9个月前(08-14)说:9个月前(08-14)说:</b>
                        <strong>挺会玩的挺会玩的挺会玩的挺会玩的</strong>
                    </li>
                    <li>
                        <span>R</span>
                        <b><em>Rechael</em> 9个月前(08-14)说:</b>
                        <strong>挺会玩的</strong>
                    </li>
                    <li>
                        <span>J</span>
                        <b><em>John</em> 9个月前(08-14)说:</b>
                        <strong>挺会玩的</strong>
                    </li>
                    <li>
                        <span>段</span>
                        <b><em>段正淳</em> 9个月前(08-14)说:</b>
                        <strong>挺会玩的</strong>
                    </li>
                    <li>
                        <span>乔</span>
                        <b><em>乔峰</em> 9个月前(08-14)说:</b>
                        <strong>挺会玩的</strong>
                    </li>
                </ul>
            </div>
            <div class="common_wrap">
                <h3><i class="fa fa-bullseye"></i> 焦点关注</h3>
                <ul class="content_list guanzhu_list">
                    <li><a href="#">神奇的水滴摄影，泡泡中的世界泡泡中的世界</a></li>
                    <li><a href="#">神奇的水滴摄影，泡泡中的世界</a></li>
                    <li><a href="#">神奇的水滴摄影，泡泡中的世界</a></li>
                    <li><a href="#">神奇的水滴摄影，泡泡中的世界</a></li>
                    <li><a href="#">神奇的水滴摄影，泡泡中的世界</a></li>
                    <li><a href="#">神奇的水滴摄影，泡泡中的世界</a></li>
                    <li><a href="#">神奇的水滴摄影，泡泡中的世界</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer clearfix">
        <div class="foot_link">
            <a href="#">关于我们</a>
            <span>|</span>
            <a href="#">联系我们</a>
            <span>|</span>
            <a href="#">招聘人才</a>
            <span>|</span>
            <a href="#">友情链接</a>
        </div>
        <p>CopyRight © 2019 深圳大事件信息技术股份有限公司 All Rights Reserved</p>
        <p>电话：0755-****888 粤ICP备*******8号</p>
    </div>

    <!-- 引入接口等模块 -->
    <script src="./js/util/config.js"></script>
    <script src="./js/util/category.js"></script>
    <script src="./js/util/article.js"></script>
    <script src="./js/template-web.js"></script>

    <!-- 引入懒加载库 -->
    <script src="../js库/lazyload.js"></script>

    <!-- 1.文章类型模板 -->
    <script id="tmp_cate" type="text/html">
        {{each data item}}
        <!-- 注意两个等号不是三个 -->
        {{if item.id == curId}}
        <li class="cur"><a href="./list.html?id={{item.id}}">{{item.name}}</a></li>
        {{else}}
        <li><a href="./list.html?id={{item.id}}">{{item.name}}</a></li>
        {{/if}}
        {{/each}}
    </script>

    <!-- 2.当前类型下的内容 注意该接口返回的数据 内容：content 不是intro-->
    <script id="tmp_list" type="text/html">
        {{each data item}}
        <div class="common_news_list">
            <a href="./article.html?id={{item.id}}" class="list_pic">
                <!-- 懒加载  data-src   -->
                <img class="img" data-src="{{item.cover}}" alt="" src="./images/default.png"></a>
            <h4><a href="./article.html?id={{item.id}}">{{item.title}} </a></h4>
            <p>{{item.content}}</p>
            <div class="new_info">
                <span>标签：{{item.type}}&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<i class="fa fa-eye"></i>&nbsp;阅读(
                    {{item.read}})&nbsp;&nbsp;&nbsp;<i class="fa fa-commenting"></i>&nbsp;评论( {{item.comment}} )</span>
                <b>发布于 {{item.date}}</b>
            </div>
        </div>
        {{/each}}
    </script>
    <!-- 3.热门排行 -->
    <script id="tmp_rank" type="text/html">
        {{each data item index}}
        {{if index == 0}}
        <li><span class="first">{{index+1}}</span><a href="./article.html?id={{item.id}}">{{item.title}}</a></li>
        {{else if index == 1}}
        <li><span class="second">{{index+1}}</span><a href="./article.html?id={{item.id}}">{{item.title}}</a></li>
        {{else if index == 2}}
        <li><span class="third">{{index+1}}</span><a href="./article.html?id={{item.id}}">{{item.title}}</a></li>
        {{else}}
        <li><span>{{index+1}}</span><a href="./article.html?id={{item.id}}">{{item.title}}</a></li>
        {{/if}}
        {{/each}}
    </script>
    <script>
        // 1.从地址兰获取id  window.location 选中高亮
        let id = window.location.search.substr(4);
        // console.log(id);
        category.get().then(res => {
            // ES6
            let {
                data
                // curId: id 不能添加属性 这只是解构赋值方法 是后边的值赋值给前边 不是从前边向后添加 
            } = res
            res.curId = id

            let htmlStr = template('tmp_cate', res)
            // 1.显示  替换
            $('#cate').html(htmlStr);
            // 2.显示下拉  保留小三角 向后添加
            $('#select').append(htmlStr)

            // 4.通过数组遍历匹配 获取id
            data.forEach(item => {
                if (item.id == id) {
                    $('#cateName').html(item.name)
                }
            })


        });
        // 2. 显示分类内容--- type 与当前id对应
        let curPage = 1; //当前第几页的数据
        function getAndShow() {
            article.show(id, curPage).then(res => {

                // res.pages 总页数
                // 数据渲染
                // ES6
                let {
                    code,
                    msg,
                    pages
                } = res
                if (code === 200) {
                    let htmlStr = template('tmp_list', res)
                    $('#list').html(htmlStr)

                    // --------渲染完毕调用懒加载
                    // lazyload(); //引入jq用$('图片').lazyload();方法
                    $('.img').lazyload();
                    // 优化分页条
                    if (pages <= 1) {
                        return
                    }
                    // 3.分页
                    // 分页基础代码
                    $('#pagination-demo').twbsPagination({
                        initiateStartPageClick: false, // 初始时，不要去点击起始页
                        totalPages: pages, // 总页数
                        visiblePages: 6, // 可见页数 最多可显示按钮数
                        first: '首页',
                        prev: '上一页',
                        next: '下一页',
                        last: '尾页',
                        onPageClick: function (event, page) {
                            // page为当前页数
                            // 点击之后更新全局变量 重新设置 全局变量
                            curPage = page
                            getAndShow()
                            // alert(page);
                        }
                    });
                } else {
                    alert(msg)
                }
            });
        }
        getAndShow();
        // 3.热门排行 type 对应，类别id
        article.rank(id).then(res => {
            // ES6
            let {
                code,
                msg,
            } = res
            if (code === 200) {
                let htmlStr = template('tmp_rank', res)
                $('#rank').html(htmlStr)
            } else {
                alert(msg)
            }

        });
    </script>

</body>

</html>